body{
  background-color: white;
  overflow-y: scroll;
}

a{
  color: white;
}

.transition-fade{
  opacity: 1;
  transition: 500ms;
}

html.is-animating .transition-fade{
  opacity: 1;

  transform: translateY(100%);
}

html.is-leaving .transition-fade{
  opacity: 0;
  transform: translateY(0);
}

html.is-rendering .transition-fade{
  position: fixed;
}

.swup-progress-bar {
  height: 5px;
  background-color: white;
}

p{
  font-family: 'Lato', sans-serif;
  text-align: center;
  font-weight: 300;
  font-size: 1em;
  letter-spacing: 7px;
}

body{
  background-color: white;
  padding: 0;
  max-width: 100%;
}

a{
  text-decoration: none;
}

h1{
  font-family: 'Lato', sans-serif;
  text-align: left;
  font-weight: bold;
  color: black;
  font-size: 1.1rem;
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          /* Likely future */      
}

h2{
  font-family: 'Lato', sans-serif;
  text-align: left;
  font-weight: 300;
  margin: 0 auto;
  color: black;
  font-size: 1rem;
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          /* Likely future */     
}

h3{
  font-family: 'Lato', sans-serif;
  text-align: left;
  font-weight: 300;
  margin: 0 auto;
  color: black;
  font-size: .5rem;
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          /* Likely future */     
}

.video {
  max-height: 875px;
  width: 100%;
  height: auto;
}

.slide{ 
    top: 0px;
    left: 0px;}

/*FOUNDATION ZURB TOPBAR */

.topbar-responsive {
  background: black;
  padding: 1rem 1.5rem;
  font-family: 'Lato', sans-serif;
  text-align: center;
  font-weight: 300;
  font-size: .9em;
  letter-spacing: 6px;
  z-index: 1;
  position: fixed;
  width: 100%;
  max-width: 1228px;
  margin: auto;
  left: 0;
  right: 0;
}

.topbar-responsive .menu a {
  padding: 0px 20px 0px 20px;
}

.topbar-responsive .topbar-responsive-logo {
  color: #fefefe;
  vertical-align: middle;
  opacity: 1;
  transition: .5s ease;
}

.topbar-responsive .topbar-responsive-logo:hover {
  opacity: .6;
}

.topbar-responsive .menu {
  background: black;
}

.topbar-responsive .menu a {
  color: #fefefe;
  transition: color 0.15s ease-in;
}

.topbar-responsive .menu a:hover {
  color: #c6d1d8;
}

@media screen and (max-width: 39.9375em) {
  .topbar-responsive .menu a {
    padding: 0.45rem 0;
  }
}

.topbar-responsive .menu .topbar-responsive-button {
  color: #fefefe;
  border-color: #fefefe;
  border-radius: 5000px;
  transition: color 0.15s ease-in, border-color 0.15s ease-in;
}

.topbar-responsive .menu .topbar-responsive-button:hover {
  color: #c6d1d8;
  border-color: #c6d1d8;
}

@media screen and (max-width: 39.9375em) {
  .topbar-responsive .menu .topbar-responsive-button {
    width: 100%;
    margin: 0.875rem 0;
  }
}

@media screen and (max-width: 39.9375em) {
  .topbar-responsive {
    padding: 0.75rem;
  }
  .topbar-responsive .top-bar-title {
    position: relative;
    width: 100%;
  }
  .topbar-responsive .top-bar-title span {
    position: absolute;
    right: 0;
    border: 1px solid #fefefe;
    border-radius: 5px;
    padding: 0.25rem 0.45rem;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  .topbar-responsive .top-bar-title span .menu-icon {
    margin-bottom: 4px;
  }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes slideDown {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@keyframes slideDown {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@media screen and (max-width: 39.9375em) {
  .topbar-responsive-links {
    -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
    -webkit-animation-duration: 0.5s;
            animation-duration: 0.5s;
    width: 100%;
    -webkit-animation: fadeIn 1s ease-in;
            animation: fadeIn 1s ease-in;
  }
}

/*ZURB Hero image */

.hero_padding{
  padding-top: 40px;
}

.hero_padding_bottom{
  padding-bottom: 40px;
}

.hero-section_wakefromdeath {

  background: url("../images/wakefromdeath_banner.jpg") 55% no-repeat;
  background-size: cover;
  height: 600px;
  text-align: center;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  transition: ease 1s;
}

@media screen and (max-width: 1400px) {
.hero-section_wakefromdeath {
  background-position: 40%;
  height: 300px;
}
}

.hero-section_foxhound {

  background: url("../images/foxhound_banner.jpg") 55% no-repeat;
  background-size: cover;
  height: 900px;
  text-align: center;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  transition: ease 1s;
}

.hero-section_foxhound2 {

  background: url("../images/foxhound_banner.jpg") 55% no-repeat;
  background-size: cover;
  height: 900px;
  text-align: center;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  transition: ease 1s;
  position: relative;
  top: 0;
  left: 0;
}

.hero-section_foxhound2:hover {
  background-color:rgba(0, 0, 0, 0.5);
}


@media screen and (max-width: 1400px) {
.hero-section_foxhound {
  background-position: 40%;
  height: 750px;
}
}

@media screen and (max-width: 800px) {
.hero-section_foxhound {
  background-position: 50%;
  height: 500px;
}
}

.video_banner {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: ease 1s;
  position: relative;
}


.hero-section_ghostintheshell {

  background: url("../images/ghostintheshell_banner.jpg") 55% no-repeat;
  background-size: cover;
  height: 900px;
  text-align: center;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  transition: ease 1s;
}

@media screen and (max-width: 1400px) {
.hero-section_ghostintheshell {
  background-position: 50%;
  height: 750px;
}
}

.hero-section_removebeforeflight {

  background: url("../images/removebeforeflight_banner.jpg") 55% no-repeat;
  background-size: cover;
  height: 900px;
  text-align: center;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  transition: ease 1s;
}

@media screen and (max-width: 1400px) {
.hero-section_removebeforeflight {
  background-position: 50%;
  height: 750px;
}
}

@media screen and (max-width: 1000px) {
.hero-section_removebeforeflight {
  background-position: 50%;
  height: 600px;
}
}

@media screen and (max-width: 800px) {
.hero-section_removebeforeflight {
  background-position: 50%;
  height: 400px;
}
}

@media screen and (max-width: 600px) {
.hero-section_removebeforeflight {
  background-position: 50%;
  height: 250px;
}
}

.hero-section_bydesign {

  background: url("../images/bydesign_banner.jpg") 50% no-repeat;
  background-size: cover;
  height: 900px;
  text-align: center;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  transition: ease 1s;
}

@media screen and (max-width: 1400px) {
.hero-section_bydesign {
  background-position: 50%;
  height: 750px;
}
}


@media screen and (max-width: 1000px) {
.hero-section_bydesign {
  background-position: 50%;
  height: 600px;
}
}

@media screen and (max-width: 800px) {
.hero-section_bydesign {
  background-position: 50%;
  height: 400px;
}
}

.hero-section_lifeanddeath {

  background: url("../images/extracurricular_banner.jpg") 55% no-repeat;
  background-size: cover;
  height: 950px;
  text-align: center;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  transition: ease 1s;
}

@media screen and (max-width: 1400px) {
.hero-section_lifeanddeath {
  background-position: 50%;
  height: 750px;
}
}

.hero-section_dragon {

  background: url("../images/dragon_banner.jpg") 55% no-repeat;
  background-size: cover;
  height: 600px;
  text-align: center;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  transition: ease 1s;
}

@media screen and (max-width: 1400px) {
.hero-section_dragon {
  background-position: 50%;
  height: 500px;
}
}

@media screen and (max-width: 800px) {
.hero-section_dragon {
  background-position: 50%;
  height: 300px;
}
}

.hero-section_dragon_rain {

  background: url("../images/dragon_banner_rain.jpg") 55% no-repeat;
  background-size: cover;
  height: 900px;
  text-align: center;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  transition: ease 1s;
  position: relative;
  top: 0;
  left: 0;
}

.hero-section_dragon_rain:hover {
  background-color:rgba(0, 0, 0, 0.5);
}


@media screen and (max-width: 1400px) {
.hero-section_dragon_rain {
  background-position: 40%;
  height: 750px;
}
}

@media screen and (max-width: 800px) {
.hero-section_dragon_rain {
  background-position: 50%;
  height: 500px;
}
}

.hero-section_protest {

  background: url("../images/protest_banner.jpg") 50% no-repeat;
  background-size: cover;
  height: 1000px;
  text-align: center;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  transition: ease 1s;
}

@media screen and (max-width: 1400px) {
.hero-section_protest {
  background-position: 50%;
  height: 750px;
}
}

@media screen and (max-width: 1000px) {
.hero-section_protest {
  background-position: 50%;
  height: 600px;
}
}

@media screen and (max-width: 800px) {
.hero-section_protest {
  background-position: 50%;
  height: 400px;
}
}

@media screen and (max-width: 600px) {
.hero-section_protest {
  background-position: 50%;
  height: 250px;
}
}


.hero-section_misa {

  background: linear-gradient(transparent, black), url("../images/jdn_banner.jpg") 50% no-repeat;
  background-size: cover;
  height: 600px;
  text-align: center;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  transition: ease 1s;
}

@media screen and (max-width: 1000px) {
.hero-section_misa {
  height: 300px;
}
}



/*FOOTER by Zurb building blocks*/

.marketing-site-footer {
  background: black;
  color: white;
  font-family: 'Lato', sans-serif;
  text-align: center;
  font-size: 1.5em;
}

.marketing-site-footer > .row {
  margin-bottom: 1rem;
}

@media screen and (max-width: 39.9375em) {
  .marketing-site-footer .columns {
    margin-bottom: 2rem;
  }
}

.marketing-site-footer-bottom {
  background: black;
  padding: 1rem 0;
}


.marketing-site-footer-bottom .marketing-site-footer-bottom-links {
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.marketing-site-footer-bottom .marketing-site-footer-bottom-links a {
  color: white;
  opacity: 1;
  transition: .5s ease;
}

.marketing-site-footer-bottom .marketing-site-footer-bottom-links a:hover {
  opacity: .6;
}

@media screen and (max-width: 63.9375em) {
  .marketing-site-footer-bottom .marketing-site-footer-bottom-links {
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (max-width: 63.9375em) {
  .marketing-site-footer-bottom {
    text-align: center;
  }
}



/*GALLERY HERO IMAGE*/

.front_artwork {
  text-align:center;
  display: block;
  height: auto;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  margin-left:auto;
  margin-right:auto;
  position: relative;
}

.front_artwork_bottom {
  text-align:center;
  display: block;
  height: auto;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  margin-left:auto;
  margin-right:auto;
  position: relative;
}

.cyberpunk_hifumi_resize {
  max-height: 875px;
}

.front_artwork_text{
  font-family: 'Lato', sans-serif;
  text-align: center;
  font-size: 2em;
  color: white;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 30px;
}

.front_artwork_text_bottom{
  font-family: 'Lato', sans-serif;
  text-align: center;
  font-size: 2em;
  color: white;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 110px;
}

.frontpage_artwork_text_top{
  font-family: 'Lato', sans-serif;
  text-align: center;
  width:100%;
  height: inherit;
  font-size: 2em;
  color: white;
  text-align: center;
  background: linear-gradient(transparent, transparent, transparent,black);
  display: flex;
  justify-content: center;
  align-items: flex-end;
  opacity: 0;
  transition: ease .5s;
}

.frontpage_artwork_text_top:hover {
  opacity: 1;
}

@media screen and (max-width: 600px) {
  .frontpage_artwork_text_top:hover {
    opacity: 0;
  }
}

.frontpage_artwork_text_left{
  font-family: 'Lato', sans-serif;
  text-align: center;
  width:100%;
  height: inherit;
  font-size: 2em;
  color: white;
  text-align: center;
  background: linear-gradient(135deg, black, transparent, transparent);
  padding-top: 20px;
  padding-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  opacity: 0;
  transition: ease .5s;
}

.frontpage_artwork_text_left:hover {
  opacity: 1;
}

.frontpage_artwork_text_right{
  font-family: 'Lato', sans-serif;
  text-align: center;
  width:100%;
  height: inherit;
  font-size: 2em;
  color: white;
  text-align: center;
  background: linear-gradient(-135deg, black, transparent, transparent);
  padding-top: 20px;
  padding-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  opacity: 0;
  transition: ease .5s;
}

.frontpage_artwork_text_right:hover {
  opacity: 1;
}

/* PARALLELOGRAM */
.parallelograms {
  margin: 0 auto;
  max-width: 100vw;
  display: grid;
/*  grid-gap: 30px;*/
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: "side1 side2 side4" ;
    overflow: hidden;
}

.parallelograms2 {
  margin: 0 auto;
  max-width: 100vw;
  display: grid;
/*  grid-gap: 30px;*/
  grid-template-columns: repeat(5, 1fr);
  grid-template-areas: "side1 side2 side3 side4 side5" ;
    overflow: hidden;
}


@media screen and (max-width: 900px) {
  .parallelograms {
  max-height: 400px;
  grid-template-rows:  600px;
}
}

.parallelogram_gradient {
  display: block;
  width: 100%; 
  height: 850px; 
  background: linear-gradient(90deg, black, transparent, transparent, transparent, transparent);
  overflow: hidden;
  position: relative;
  transition: ease .5s;
}

.parallelogram_gradient_left {
  display: block;
  width: 140%; 
  height: 850px; 
  background: linear-gradient(90deg, black, transparent, transparent, transparent, transparent);
  overflow: hidden;
  position: relative;
  transition: ease .5s;
}

.parallelogram_gradient_right {
  display: block;
  width: 100%; 
  height: 850px; 
  background: linear-gradient(90deg, black, transparent, transparent, transparent, transparent, transparent, transparent, transparent);
  overflow: hidden;
  position: relative;
  transition: ease .5s;
}

.parallelogram {
  display: block;
  width: 100%; 
  height: 400px; 
  -webkit-transform: skew(-20deg);
  -moz-transform: skew(-20deg);
  -o-transform: skew(-20deg);
  transform: skew(-20deg);
  background: black;
  overflow: hidden;
  text-align: center;
  position: relative;
  transition: ease .5s;
}

.parallelogram2 {
  display: block;
  width: 100%; 
  height: 794px; 
  -webkit-transform: skew(-20deg);
  -moz-transform: skew(-20deg);
  -o-transform: skew(-20deg);
  transform: skew(-20deg);
  background: black;
  overflow: hidden;
  text-align: center;
  position: relative;
  transition: ease .5s;
}

@media screen and (max-width: 1400px) {
  .parallelogram2 {
  -webkit-transform: skew(-15deg);
  -moz-transform: skew(-15deg);
  -o-transform: skew(-15deg);
  transform: skew(-15deg);
}
}

@media screen and (max-width: 1200px) {
  .parallelogram2 {
  -webkit-transform: skew(-10deg);
  -moz-transform: skew(-10deg);
  -o-transform: skew(-10deg);
  transform: skew(-10deg);
}
}

@media screen and (max-width: 1000px) {
  .parallelogram2 {
  -webkit-transform: skew(-5deg);
  -moz-transform: skew(-5deg);
  -o-transform: skew(-5deg);
  transform: skew(-5deg);
}
}

@media screen and (max-width: 800px) {
  .parallelogram2 {
  -webkit-transform: skew(0deg);
  -moz-transform: skew(0deg);
  -o-transform: skew(0deg);
  transform: skew(0deg);
}
}


.parallelogram:nth-child(1) {
  grid-area: side1;
}

.parallelogram:nth-child(2) {
  grid-area: side2;
}

.parallelogram:nth-child(4) {
  grid-area: side4;
}

.parallelogram img {
  display: block;
-webkit-transform: skew(20deg);
-moz-transform: skew(20deg);
-o-transform: skew(20deg);
transform: skew(20deg);
max-width: 2000px;
position: absolute;
opacity: 1;
transition: ease .5s;
z-index: -1;
}

.parallelogram2 img {
  display: block;
-webkit-transform: skew(20deg);
-moz-transform: skew(20deg);
-o-transform: skew(20deg);
transform: skew(20deg);
max-width: 2000px;
position: absolute;
opacity: 1;
transition: ease .5s;
z-index: -1;
}

@media screen and (max-width: 1400px) {
.parallelogram2 img{
-webkit-transform: skew(15deg);
-moz-transform: skew(15deg);
-o-transform: skew(15deg);
transform: skew(15deg);
}
}

@media screen and (max-width: 1200px) {
  .parallelogram2 img{
  -webkit-transform: skew(10deg);
  -moz-transform: skew(10deg);
  -o-transform: skew(10deg);
  transform: skew(10deg);
}
}

@media screen and (max-width: 1000px) {
  .parallelogram2 img{
  -webkit-transform: skew(5deg);
  -moz-transform: skew(5deg);
  -o-transform: skew(5deg);
  transform: skew(5deg);
}
}

@media screen and (max-width: 800px) {
  .parallelogram2 img{
  -webkit-transform: skew(0deg);
  -moz-transform: skew(0deg);
  -o-transform: skew(0deg);
  transform: skew(0deg);
}
}


.parallelogram img:hover {
opacity: 1;
}

.frontpage_hifumi {
background-color: white;
left: 50px;
}

@media screen and (max-width: 1400px) {
.frontpage_hifumi {
left: 0px;
}
}

@media screen and (max-width: 1200px) {
.frontpage_hifumi {
left: -50px;
}
}

@media screen and (max-width: 1000px) {
.frontpage_hifumi {
left: -120px;
}
}

@media screen and (max-width: 800px) {
.frontpage_hifumi {
left: -175px;
}
}

@media screen and (max-width: 600px) {
.frontpage_hifumi {
left: -250px;
}
}

@media screen and (max-width: 500px) {
.frontpage_hifumi {
left: -325px;
}
}

.frontpage_makoto_2038 {
background-color: white;
left: -220px;
}

@media screen and (max-width: 1400px) {
  .frontpage_makoto_2038 {
left: -280px;
}
}

@media screen and (max-width: 1000px) {
  .frontpage_makoto_2038 {
left: -310px;
}
}

@media screen and (max-width: 900px) {
  .frontpage_makoto_2038 {
left: -340px;
}
}

@media screen and (max-width: 800px) {
  .frontpage_makoto_2038 {
left: -360px;
}
}

@media screen and (max-width: 700px) {
  .frontpage_makoto_2038 {
left: -380px;
}
}

.frontpage_hifumi_wallpaper{
background-color: white;
left: -240px;
}

@media screen and (max-width: 1300px) {
  .frontpage_hifumi_wallpaper{
left: -270px;
}
}

@media screen and (max-width: 1100px) {
  .frontpage_hifumi_wallpaper{
left: -300px;
}
}

@media screen and (max-width: 800px) {
  .frontpage_hifumi_wallpaper{
left: -350px;
}
}

@media screen and (max-width: 600px) {
  .frontpage_hifumi_wallpaper{
left: -400px;
}
}

.frontpage_mercury {
left: -350px;
}

@media screen and (max-width: 1600px) {
  .frontpage_mercury{
left: -400px;
}
}

@media screen and (max-width: 1400px) {
  .frontpage_mercury{
left: -450px;
}
}

@media screen and (max-width: 1100px) {
  .frontpage_mercury{
left: -500px;
}
}

@media screen and (max-width: 800px) {
  .frontpage_mercury{
left: -550px;
}
}

@media screen and (max-width: 600px) {
  .frontpage_mercury{
left: -575px;
}
}

.frontpage_mars {
left: -270px;
}

@media screen and (max-width: 1600px) {
  .frontpage_mars{
left: -300px;
}
}

@media screen and (max-width: 1400px) {
  .frontpage_mars{
left: -400px;
}
}

@media screen and (max-width: 1100px) {
  .frontpage_mars{
left: -450px;
}
}

@media screen and (max-width: 800px) {
  .frontpage_mars{
left: -500px;
}
}

@media screen and (max-width: 600px) {
  .frontpage_mars{
left: -550px;
}
}

.frontpage_moon {
left: -300px;
}

@media screen and (max-width: 1600px) {
  .frontpage_moon{
left: -350px;
}
}

@media screen and (max-width: 1400px) {
  .frontpage_moon{
left: -400px;
}
}

@media screen and (max-width: 1100px) {
  .frontpage_moon{
left: -475px;
}
}

@media screen and (max-width: 800px) {
  .frontpage_moon{
left: -525px;
}
}

@media screen and (max-width: 600px) {
  .frontpage_moon{
left: -550px;
}
}

.frontpage_venus {
left: -300px;
}

@media screen and (max-width: 1600px) {
  .frontpage_venus{
left: -325px;
}
}

@media screen and (max-width: 1400px) {
  .frontpage_venus{
left: -350px;
}
}

@media screen and (max-width: 1100px) {
  .frontpage_venus{
left: -400px;
}
}

@media screen and (max-width: 800px) {
  .frontpage_venus{
left: -450px;
}
}

@media screen and (max-width: 600px) {
  .frontpage_venus{
left: -480px;
}
}

.frontpage_jupiter {
left: -50px;
}

@media screen and (max-width: 1600px) {
  .frontpage_jupiter{
left: -150px;
}
}

@media screen and (max-width: 1400px) {
  .frontpage_jupiter{
left: -175px;
}
}

@media screen and (max-width: 1100px) {
  .frontpage_jupiter{
left: -200px;
}
}

@media screen and (max-width: 1000px) {
  .frontpage_jupiter{
left: -275px;
}
}

@media screen and (max-width: 800px) {
  .frontpage_jupiter{
left: -325px;
}
}

@media screen and (max-width: 700px) {
  .frontpage_jupiter{
left: -375px;
}
}


@media screen and (max-width: 600px) {
  .frontpage_jupiter{
left: -400px;
}
}

@media screen and (max-width: 500px) {
  .frontpage_jupiter{
left: -440px;
}
}

.img__description {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(transparent, transparent, transparent, transparent,black);
  color: #fff;
  visibility: hidden;
  opacity: 0;
  height: 400px;
  font-family: 'Lato', sans-serif;
  text-align: center;
  font-weight: 300;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: flex-end;

  /* transition effect. not necessary */
  transition: opacity .75s, visibility .75s;
}

.img__description2 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(transparent, transparent, transparent, transparent,black);
  color: #fff;
  visibility: hidden;
  opacity: 0;
  height: 794px;
  font-family: 'Lato', sans-serif;
  text-align: center;
  font-weight: 300;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: flex-end;

  /* transition effect. not necessary */
  transition: opacity .75s, visibility .75s;
}



@media screen and (max-width: 900px) {
  .img__description {
  font-size: 1.5rem;
}
}

@media screen and (max-width: 600px) {
  .img__description {
  font-size: 1.2rem;
}
}

.parallelogram:hover .img__description {
  visibility: visible;
  opacity: 1;
  height: 400px;
}

.parallelogram2:hover .img__description2 {
  visibility: visible;
  opacity: 1;
  height: 794px;
}


.SFD_logo_tall {
  display: block;
  background-repeat: no-repeat;
  width: 491px;
  height: 300px;
  background: url(../images/asukabaka_tall.png);
  margin-left: auto;
  margin-right: auto;
  margin-top: 5rem ;
  opacity: 1;
  transition: ease .5s;
}
@media screen and (max-width: 600px) {
  .SFD_logo_tall {
  width: 245px;
  height: 150px;
  background-size: 245px 150px; 
}
}

.SFD_logo_tall:hover {
  opacity: .6;
}

.SFD_logo_long {
  width: 362px;
  height: 40px;
  background: url(../images/rlasukabaka_logo_long.png);
  background-size: 362px 40px;
  opacity: 1;
  transition: ease .5s;
  margin: 0 auto;
}

.SFD_logo_long:hover {
  opacity: .6;
}

/*ZURB FOUNDATION SOCIAL MEDIA FOOTER*/
.social-links {
  background: black;
  padding: 2rem 0 1rem;
}

.social-links a {
  color: white;
  font-size: 1.2rem;
}

.social-links i.fa {
  font-size: 1.8rem;
  padding: 1rem;
}

@media screen and (max-width: 39.9375em) {
  .social-links {
    padding: 2rem 0;
  }
  .social-links i.fa {
    font-size: 2rem;
    display: block;
    padding-right: 0;
    padding-bottom: 0.5rem;
  }
  .social-links a {
    font-weight: bold;
  }
  .social-links .columns {
    margin: 1rem 0;
  }
  .social-links .mobile-stack {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.social-links a{  
  opacity: 1;
  transition: .5s ease;
}

.social-links a:hover{
  opacity: .6;
}

/*Inquiries Page */

.inquiries_box {
  color: white;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  text-align: center;
  padding-top: 80px;
  padding-bottom: 80px;
  margin: auto;
}

input.requiredinfo {
  display: inline;
  max-width: 250px;
}

input.messagebox {
  display: inline;
  max-width: 500px;
  height: 150px;
  padding-top: 50px;
}

h1.inquiries_message{
  padding-bottom: 50px;
  font-size: 1.5rem;
}

@media screen and (max-width: 60em) {
h1.inquiries_message{
font-size: 1rem;
}
}

.bg-image_lifeanddeath {
  /* The image used */
  background-image: url(../images/raymond_lam_lifeanddeath_vi.jpg);

  /* Add the blur effect */
  filter: blur(4px);
  -webkit-filter: blur(4px);

  /* Full height */
  height: 120%;
  width: 120%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  z-index: -1000;
  opacity: .3;
}

.bg-remove_before_flight {
  /* The image used */
  background-image: url(../images/raymond-lam_remove-before-flight_lineup.jpg);

  /* Add the blur effect */
  filter: blur(4px);
  -webkit-filter: blur(4px);

  /* Full height */
  height: 120%;
  width: 120%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  z-index: -1000;
  opacity: .3;
}

.bg-image_wakefromdeath {
  /* The image used */
  background-image: url(../images/raymond-lam_osiris_landscape-wide.jpg);

  /* Add the blur effect */
  filter: blur(4px);
  -webkit-filter: blur(4px);

  /* Full height */
  height: 120%;
  width: 120%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  z-index: -1000;
  opacity: .3;
}

.bg-image_foxhound {
  /* The image used */
  background-image: url(../images/raymond_lam_foxhound_small_web.jpg);

  /* Add the blur effect */
  filter: blur(4px);
  -webkit-filter: blur(4px);

  /* Full height */
  height: 120%;
  width: 120%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  z-index: -1000;
  opacity: .3;
}

.bg-image_dragon {
  /* The image used */
  background-image: url(../images/raymond_lam_ahmya_rain_tall_web.jpg);

  /* Add the blur effect */
  filter: blur(4px);
  -webkit-filter: blur(4px);

  /* Full height */
  height: 100%;
  width: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  z-index: -1000;
  opacity: .3;
}

.bg-image_motoko {
  /* The image used */
  background-image: url(../images/raymond-lam_motoko_landscape-tall.jpg);

  /* Add the blur effect */
  filter: blur(4px);
  -webkit-filter: blur(4px);

  /* Full height */
  height: 100%;
  width: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  z-index: -1000;
  opacity: .3;
}

.bg-image_protest1 {
  /* The image used */
  background-image: url(../images/raymond_lam-protest-lineup2_small.jpg);

  /* Add the blur effect */
  filter: blur(4px);
  -webkit-filter: blur(4px);

  /* Full height */
  height: 100%;
  width: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  z-index: -1000;
  opacity: .3;
}

.image_assets:hover {
  opacity: 1;
}

.image_assets{
  padding: 3px 8px;
  border-radius: 5px;
  position: absolute;
  overflow: hidden;
  left: calc(50%);
  transform: translate(-50%,0);
  bottom: 15px;
  z-index: 1000;
  opacity: 0;
    background-color:rgba(30,37,39,.5);
   -webkit-transition:opacity .25s;
 transition:opacity .25s;
 -webkit-box-shadow:1px 1px 5px 0 rgba(0,0,0,.5);
 box-shadow:1px 1px 5px 0 rgba(0,0,0,.5);
   -webkit-user-select:none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.front_artwork:hover .image_assets{
  padding: 3px 8px;
  border-radius: 5px;
  position: absolute;
  overflow: hidden;
  left: calc(50%);
  transform: translate(-50%,0);
  bottom: 15px;
  z-index: 1000;
  opacity: 1;
  background-color:rgba(30,37,39,.5);
   -webkit-transition:opacity .25s;
 transition:opacity .25s;
 -webkit-box-shadow:1px 1px 5px 0 rgba(0,0,0,.5);
 box-shadow:1px 1px 5px 0 rgba(0,0,0,.5);
   -webkit-user-select:none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* comment 
-------------------------------------------*/

.front_artwork_bottom:hover .image_assets{
  padding: 3px 8px;
  border-radius: 5px;
  position: absolute;
  overflow: hidden;
  left: calc(50%);
  transform: translate(-50%,0);
  bottom: 15px;
  z-index: 1000;
  opacity: 1;
  background-color:rgba(30,37,39,.5);
   -webkit-transition:opacity .25s;
 transition:opacity .25s;
 -webkit-box-shadow:1px 1px 5px 0 rgba(0,0,0,.5);
 box-shadow:1px 1px 5px 0 rgba(0,0,0,.5);
   -webkit-user-select:none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* sub */

.buttons{
  padding: 8px 16px;
  color: white;
  line-height: 1;
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 0;
  text-align: center;
  border: 1px solid transparent;
  white-space: nowrap;
  border-radius: 2px;
  -webkit-user-select:none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}



.buttons:hover .buttons:focus .buttons:active{
  color: #389ada ;
}

/*About Page grids*/
/*----------------------------------------------------*/

#about_grid{
  margin: 0 auto;
  max-width: 100vw;
  height: 100%;
/*  max-height: 1000px;*/
  display: grid;
  /*grid-gap: 30px;*/
  grid-template-columns: repeat(3, 4fr);
  grid-template-areas: "sidex4 side1 side1"
                       "sidex3 sidex3 side2"
                       "side3 side3 sidex2"
                       "sidex sidex sidex"
                        ;
    overflow: hidden;
      background-image: url(../images/raymond-lam_kaneda_landscape_noText_small_web.jpg);
      background-color: white;

  /* Add the blur effect */
/*  filter: blur(4px);
  -webkit-filter: blur(4px);*/

  /* Full height */
/*  width: 120%;*/

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (max-width: 80em) {
  #about_grid{
  margin: 0 auto;
  max-width: 100vw;
  height: 100%;
/*  max-height: 1000px;*/
  display: grid;
  /*grid-gap: 10px;*/
  grid-template-columns: repeat(3, 4fr);
  grid-template-areas: "sidex4 side1 side1"
                       "sidex3 sidex3 side2"
                       "side3 side3 side3"
                       "sidex sidex sidex"
                        ;
    overflow: hidden;
   background-image: url(../images/raymond-lam_kaneda_landscape_noText_small_web.jpg);
  background-color: white;

  /* Add the blur effect */
/*  filter: blur(4px);
  -webkit-filter: blur(4px);*/

  /* Full height */
/*  width: 120%;*/

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
}


@media screen and (max-width: 39.9375em) {
#about_grid{
  margin: 0 auto;
  max-width: 100vw;
  height: 100%;
/*  max-height: 1000px;*/
  display: grid;
  grid-gap: 0px;
  grid-template-columns: repeat(1, 3fr);
  grid-template-areas: "sidex"
                       "side1"
                       "side3"
                        ;
    overflow: hidden;
      background-image: url(../images/raymond-lam_kaneda_landscape_noText_small_web.jpg);

  /* Add the blur effect */
/*  filter: blur(4px);
  -webkit-filter: blur(4px);*/

  /* Full height */
/*  width: 120%;*/

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
}


.tile_x{
  grid-area: sidex;
  /*display: block;*/
  width: 100%; 
  height: 100px; 
  overflow: hidden;
  text-align: center;
  position: relative;
  transition: ease 3s;
  opacity: 0;
}

.tile_x:hover{
  transition: ease 1s;
  opacity: .2;


}

@media screen and (max-width: 80em) {
  .tile_x{
  grid-area: sidex;
  /*display: block;*/
  width: 100%; 
  height: 100px; 
  overflow: hidden;
  text-align: center;
  position: relative;
  transition: ease 1s;
  opacity: 0;
}
}

@media screen and (max-width: 80em) {
  .tile_x:hover{
  transition: ease 1s;
  opacity: .2;
}
}

@media screen and (max-width: 39.9375em) {
  .tile_x{
  grid-area: sidex;
  /*display: block;*/
  width: 100%; 
  height: 0px; 
  overflow: hidden;
  text-align: center;
  position: relative;
  transition: ease 3s;
  opacity: 0;
}
}

.tile_x2{
  grid-area: sidex2;
  /*display: block;*/
  width: 100%; 
  height: 100%; 
  background: black;
  overflow: hidden;
  text-align: center;
  position: relative;
  transition: ease 3s;
  opacity: 0;
}

.tile_x2:hover{
  transition: ease 1s;
  opacity: .2;
}

.tile_x3{
  grid-area: sidex3;
  /*display: block;*/
  width: 100%; 
  height: 75px; 
  background: rgba(0, 0, 0, 0.5);
  overflow: hidden;
  text-align: center;
  position: relative;
  transition: ease 1s;
  opacity: 0;
}

.tile_x3:hover{
  transition: ease 1s;
  opacity: .7;
}

@media screen and (max-width: 39.9375em) {
  .tile_x3{
  grid-area: sidex3;
  /*display: block;*/
  width: 100%; 
  height: 0px; 
  background: black;
  overflow: hidden;
  text-align: center;
  position: relative;
  transition: ease 1s;
  opacity: 0;
}
}

@media screen and (max-width: 39.9375em) {
  .tile_x3:hover{
  transition: ease 1s;
  opacity: .7;
}
}

.tile_x4{
  grid-area: sidex4;
  /*display: block;*/
  width: 100%; 
  height: 100%; 
  background: black;
  overflow: hidden;
  text-align: center;
  position: relative;
  transition: ease 3s;
  opacity: 0;
}

.tile_x4:hover{
  transition: ease 1s;
  opacity: .2;
}

.tile_1{
  grid-area: side1;
  /*display: block;*/
  width: 100%; 
  height: 100%; 
  background: rgba(0, 0, 0, 0.9);
  overflow: hidden;
  text-align: center;
  position: relative;
  transition: ease 3s;
}

@media screen and (max-width: 39.9375em) {
  .tile_1{
  grid-area: side1;
  /*display: block;*/
  width: 100%; 
  height: 100%; 
  background: rgba(0, 0, 0, 0.8);
  overflow: hidden;
  text-align: center;
  position: relative;
  transition: ease 3s;
}
}

.tile_2{
  grid-area: side2;
  /*display: block;*/
  width: 100%; 
  height: 100%; 
  background: black;
  overflow: hidden;
  text-align: center;
  position: relative;
  transition: ease 3s;
  opacity: .5;
}

.tile_3{
  grid-area: side3;
  /*display: block;*/
  width: 100%; 
  height: 100%; 
  background: rgba(0, 0, 0, 0.8);
  overflow: hidden;
  text-align: center;
  position: relative;
  transition: ease 3s;
}

.tile_3:hover{
  background: rgba(0, 0, 0, 0.9);

}

@media screen and (max-width: 39.9375em) {
  .tile_3{
  grid-area: side3;
  /*display: block;*/
  width: 100%; 
  height: 100%; 
  background: rgba(0, 0, 0, 0.7);
  overflow: hidden;
  text-align: center;
  position: relative;
  transition: ease 3s;
}
}

@media screen and (max-width: 39.9375em) {
  .tile_3:hover{
  background: rgba(0, 0, 0, 0.7);
}
}

.about_text{
 font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 1.25em;
  color: white;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
  opacity: 1;
}

@media screen and (max-width: 80em) {
.about_text{
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 1em;
  color: white;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  opacity: 1;
}
}

@media screen and (max-width: 39.9375em) {
.about_text{
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 1em;
  color: white;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 20px;
  opacity: 1;
}
}

h3.about_text{
  font-size: 1.5em;
  text-align: left;
  padding-left: 40px;
  padding-bottom: 0px;
  transform: translateX(20%);
}

@media screen and (max-width: 39.9375em) {
h3.about_text{
  font-size: 1.25em;
  text-align: center;
  padding-top: 30px;
  padding-left: 0px;
  transform: translateX(0%);
}
}

.about_text_intro{
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 3em;
  letter-spacing: 7px;
  color: white;
  text-align: center;
  top: 30%;
  padding-bottom: 30px;
  opacity: 1;
  transform: translateY(-50%);
  position: relative;
  margin: 50px;
}

@media screen and (max-width: 80em) {
.about_text_intro{
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 2.5em;
  color: white;
  text-align: center;
  top: 30%;
  padding-top: 0px;
  padding-bottom: 30px;
  opacity: 1;
  transform: translateY(-50%);
  position: relative;
  margin: 50px;
}
}

@media screen and (max-width: 39.9375em) {
.about_text_intro{
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 2em;
  color: white;
  text-align: center;
  top: 30%;
  padding-top: 10px;
  opacity: 1;
  transform: translateY(-50%);
  position: relative;
  margin: 50px;
}
}


/*---------------Contact Grid------------------*/


#contact_grid{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: "box1 box2"
  max-width: 100vw;
  height: 100%;
}


.contact_form{
  grid-area: box1;
  /*display: block;*/
  width: 100%; 
  height: 100px; 
  overflow: hidden;
  text-align: center;
  position: relative;
  transition: ease 3s;
}

.contact_social{
  grid-area: box2;
  /*display: block;*/
  width: 100%; 
  height: 100px; 
  overflow: hidden;
  text-align: center;
  position: relative;
  transition: ease 3s;
}


/*---------------Contact Grid END------------------*/

.CV{
  user-select: none;
  color: white;
  transition: ease .3s;
}

.CV:hover{
  user-select: none;
  color: #565656;
  transition: ease .3s;
}
