body{
  background-color: white;
  overflow-y: scroll;
  margin: 0;
}

a{
  color: white;
  font-family: 'Lato', sans-serif;
  font-size: 1rem;
}

a:link{
  text-decoration: none;
}

a.navbar-brand{
  letter-spacing: 7px;
}

.transition-fade{
  opacity: 1;
  transition: 500ms;
}

html.is-animating .transition-fade{
  opacity: 1;

  transform: translateY(100%);
}

html.is-leaving .transition-fade{
  opacity: 0;
  transform: translateY(0);
}

html.is-rendering .transition-fade{
  position: fixed;
}

.swup-progress-bar {
  height: 5px;
  background-color: black;
}

p{
  font-family: 'Lato', sans-serif;
  text-align: center;
  font-weight: 300;
  font-size: 1em;
  letter-spacing: 7px;
}

h1{
  font-family: 'Lato', sans-serif;
  text-align: left;
  font-weight: 400;
  color: black;
  font-size: 1.1rem;
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          /* Likely future */      
}

h2{
  font-family: 'Lato', sans-serif;
  text-align: left;
  font-weight: 300;
  margin: 0 auto;
  color: black;
  font-size: 1rem;
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          /* Likely future */     
}

h3{
  font-family: 'Lato', sans-serif;
  text-align: left;
  font-weight: 300;
  margin: 0 auto;
  color: black;
  font-size: .5rem;
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          /* Likely future */     
}

img{
  display: inline-block;
    vertical-align: middle;
    max-width: 100%;
    height: auto;
}

.bg-light{
  background-color: white !important;
}

#navbarNav{
  justify-content: flex-end;
}

.navbar-brand{
  font-size: 1rem;
}

.navbar.navbar-expand-lg.navbar-light{
  background-color: white;
  margin: auto;
  z-index: 1;
  left: 0;
  right: 0;
  position: fixed;
}

.navbar-container-fluid{
  max-width: 1288px;
}

.navbar-light .navbar-nav .nav-link{
  color: black;
}

.navbar-light .navbar-brand{
  color: black;
}

@media screen and (max-width: 700px) {
  .navbar.navbar-expand-lg.navbar-light{
    z-index: inherit;
    left: inherit;
    right: inherit;
    position: inherit;
  }
}

.js-scroll {
  opacity: 0;
  transition: opacity 250ms;
}

.js-scroll.scrolled {
  opacity: 1;
}

.scrolled.fade-in-bottom {
  animation: fade-in-bottom .5s ease-in-out both;
}

@keyframes fade-in-bottom {
  0% {
    transform: translateY(5px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.front_artwork {
  text-align:center;
  display: block;
  height: auto;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  margin-left:auto;
  margin-right:auto;
  position: relative;
}

.front_artwork_bottom {
  text-align:center;
  display: block;
  height: auto;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  margin-left:auto;
  margin-right:auto;
  position: relative;
}

.front_artwork_text_bottom{
  font-family: 'Lato', sans-serif;
  text-align: center;
  font-size: 2em;
  color: white;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 110px;
}

.text {
  margin: 0 auto;
  max-width: 1228px;
  height: 100%;
}

.text .grid{
  display: grid;
  grid-gap: 80px;
  grid-template-columns: repeat(3, 2fr);
  grid-template-areas: "title skills software"
                       "synopsis synopsis synopsis"
                        ;
}

@media screen and (max-width: 700px) {
.text .grid {
  grid-template-columns: repeat(1, 4fr);
  grid-template-areas: "title"
                       "skills"
                       "software"
                       "synopsis"
                        ;
}
}


.title{
  grid-area: title;
  width: 100%;
  text-align: left;
}

.title h2{
  padding-bottom: 15px;
}

.skills{
  grid-area: skills;
  width: 100%;
  text-align: left;
}

.skills h2{
  padding-bottom: 15px;
}

.software{
  grid-area: software;
  width: 100%;
  text-align: left;
}

.software h2{
  padding-bottom: 15px;
}

.synopsis{
  grid-area: synopsis;
  width: 100%;
  text-align: left;
}

.synopsis h2{
  padding-bottom: 15px;
}

.SFD_logo_tall {
  display: block;
  background-repeat: no-repeat;
  width: 491px;
  height: 300px;
  background: url(../images/asukabaka_tall.png);
  margin-left: auto;
  margin-right: auto;
  margin-top: 5rem ;
  opacity: 1;
  transition: ease .5s;
}

@media screen and (max-width: 600px) {
  .SFD_logo_tall {
  width: 245px;
  height: 150px;
  background-size: 245px 150px; 
}
}